<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Welcome Admin
    </p>
    <p class="subtitle">
      Bellow are all the avaliable events
    </p>
  </div>
</section>

<section class="section">
  <div class="container is-fluid">
    <div class="columns is-multiline">
      <%= render 'admin/helpers/events' %>
    </div>
  </div>
</section>


